div {
    text-align: center;
}

body {
    margin: -10 0 -10 0;
}

p {
    font-family: 'Rokkitt', serif;
    font-size: 14pt;
}

#container {
    width: 1000px;
    margin: 0px auto;
    
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 26pt;
}

#left-col {
    width: 800px; 
    margin: 0px auto;
    background-color: pink;
    text-align: left; 
    padding: 10 10 10 10;
}

/* #right-col {
    width: 100px; 
    float: left;
    background-color: papayawhip;
    text-align: left;
    padding: 10 50 10 10;
} */

.banner-image {
    margin: 0 0 0 0;
    width: 100%;
}

@media screen and (max-width:1000px){
    #container {
        width: 100%;
    }
    #left-col {
        width: 75%;
    }
    }
    #right-col {
        width: 25%;
    }
    img {
        width: 100%
    }
}
