body {
    margin: -10 0 -10 0;
}

a { 
    color: inherit;
    text-decoration: none;
} 


div {
    text-align: center;
}


.blog-header-pink {
    background-color: #f2d5eb;
}

.blog-header-blue {
    background-color: #cbeaff;
}

.section {
    padding: 5 5 5 5;

}

.code-block {
    background-color: rgb(29, 29, 29);
    color: greenyellow;
    font: Courier;
    text-align: left;
    padding: 15;
    margin: 20 0 20 0;
    border-radius: 5px;


}

.logo-1 {
    width: 100px;
    border-color: #fff;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    margin: 0px auto;
    margin-top: 30px
    ;
  }

.footer {
    position: fixed; bottom: 0%;
    text-align: center;
  }
}



/* heading styles */

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 36pt;
    color: rgb(68, 68, 68);
}

h2 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 18pt;
    line-height: 87%;
    color: rgb(68, 68, 68);
}

h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 11pt;
    color: rgb(106, 106, 106);
    line-height: 10%;
    color:rgb(146, 146, 146);
    letter-spacing: 2px;
}

ol {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 10pt;
    color: rgb(88, 88, 88);
    text-align: left;
    line-height: 175%;
}

ul {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 10pt;
    color: rgb(88, 88, 88);
    text-align: left;
    line-height: 175%;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18pt;
    color: rgb(78, 78, 78);
    line-height: 24pt;
}

/* blog box styles */

.blog-box-pink {
    background-color: #f2d5eb;
    padding: 11 30 21 30;
    border-radius: 10px;
    text-align: left;

}

.blog-box-blue {
    background-color: #cbeaff;
    padding: 11 30 21 30;
    border-radius: 10px;
    text-align: left;


}

#box {
    width: 600px;
    margin: 0px auto;
    
}


#container {
    width: 1000px;
    margin: 0px auto;
    text-align: left;
    position: relative; top: 20px;
    
}




#left-col {
    width: 410px; 
    background-color: hsl(0, 0%, 93%);
    text-align: left; 
    padding: 20;
    border-radius: 5px;
    margin: 0 5 55 0;
    float: left;
}

#right-col {
    background-color: #ededed;
    text-align: left;
    padding: 20;
    border-radius: 5px;
    margin: 0 5 55 0;
    float: left;
} 

.banner-image {
    margin: 0 0 0 0;
    width: 100%;

}

@media screen and (max-width:724px){
    #container {
        width: 100%;
    }

    #box {
        width: 80%;
    }
   
    
    #left-col {
        width: 100%;
    }
    }
    #right-col {
        width: 50%;
    }
    img {
        width: 100%
    }
   
 
}




